In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

def scrape_icydata_player_stats(id, year):
    # Construct the URL based on the provided id
    url = f"https://www.icydata.hockey/player_stats/{id}"

    # Send an HTTP GET request to the URL
    response = requests.get(url)

    # Check if the request was successful
    if response.status_code == 200:
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.text, 'html.parser')

        # Find the table with the id "player-stats"
        table = soup.find('table', {'id': 'player-stats'})

        if table:
            # Extract data from the table
            rows = table.find_all('tr')
            data = []

            for row in rows:
                data_cells = row.find_all('td')
                if data_cells:
                    data.append([cell.get_text(strip=True) for cell in data_cells])

            # Assuming the first row is the header
            header_cells = rows[0].find_all('th')
            headers = [cell.get_text(strip=True) for cell in header_cells]

            # Create a pandas DataFrame
            df = pd.DataFrame(data, columns=headers)

            # Create a Series with 2023
            year_series = pd.Series([year] * len(df))

            # Assign the Series to the 'Year' column in the DataFrame
            df['Year'] = year_series

            # Return the DataFrame
            return df

        else:
            print("Table with id 'player-stats' not found on the page.")
            return None

    else:
        print("Failed to retrieve the page. Status code:", response.status_code)
        return None

In [2]:
# 2023 Player States:
id_to_scrape = 39
target_year = 2023
df_2023 = scrape_icydata_player_stats(id_to_scrape, target_year)
df_2023.to_csv(f'IceHockey{target_year}.csv', encoding='utf-8', index=False)
df_2023

,Player,Team,GP,G,A,Pts,+/-,PN,PIM,S,SB,MS,H,GV,TK,BS,FW,FL,F%,Year
0,Jake Livingstone,NSH,5,0,1,1,-2,1,2,3,4,2,6,3,0,12,0,0,0,2023
1,Philip Tomasino,NSH,31,5,13,18,5,3,6,53,21,26,28,15,10,16,9,8,52.94,2023
2,Luke Evangelista,NSH,24,7,8,15,7,3,6,54,17,7,9,9,15,6,0,0,0,2023
3,Spencer Stastney,NSH,8,0,2,2,4,1,2,9,3,2,2,3,2,9,0,0,0,2023
4,Tommy Novak,NSH,42,13,24,37,4,3,6,71,32,27,6,13,24,21,161,181,47.08,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,Mikael Granlund,NSH,79,10,32,42,-15,10,20,121,51,51,78,33,38,61,171,213,44.53,2023
955,Filip Forsberg,NSH,50,19,23,42,-3,10,20,157,81,84,86,29,34,20,0,1,0,2023
956,Colton Sissons,NSH,82,12,18,30,-3,10,20,88,43,48,164,27,32,72,591,516,53.39,2023
957,Yakov Trenin,NSH,77,12,12,24,-7,18,47,140,52,64,167,43,44,30,14,22,38.89,2023
958,Steven Lorentz,S.J,80,10,9,19,-17,7,16,112,40,41,133,15,46,46,262,284,47.99,2023

In [3]:
# 2023 Player States:
id_to_scrape = 36
target_year = 2022
df_2022 = scrape_icydata_player_stats(id_to_scrape, target_year)
df_2022.to_csv(f'IceHockey{target_year}.csv', encoding='utf-8', index=False)
df_2022

,Player,Team,GP,G,A,Pts,+/-,PN,PIM,S,SB,MS,H,GV,TK,BS,FW,FL,F%,Year
0,Viktor Lodin,OTT,1,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,2022
1,Chris Wagner,BOS,1,0,0,0,-1,0,0,2,0,1,11,0,0,0,0,1,0,2022
2,Kent Johnson,CBJ,9,0,3,3,2,1,2,5,7,8,4,2,2,1,0,0,0,2022
3,Zac Jones,NYR,12,0,2,2,-7,0,0,8,3,6,4,12,15,13,0,0,0,2022
4,Hunter Drew,ANA,2,0,0,0,0,1,5,0,1,0,5,0,0,0,0,0,0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007,John Marino,PIT,81,1,23,24,4,10,23,90,62,39,73,35,43,88,0,0,0,2022
1008,Drew O'Connor,PIT,22,3,2,5,-2,2,4,40,8,14,12,5,9,7,18,34,34.62,2022
1009,Jan Rutta,TBL,76,3,15,18,24,22,49,86,68,44,93,18,6,71,0,0,0,2022
1010,Teddy Blueger,PIT,65,9,21,30,12,5,10,93,20,21,87,22,37,32,356,318,52.82,2022
1011,Jeff Carter,PIT,76,19,26,45,-8,18,38,200,69,45,98,39,33,50,648,489,56.99,2022

In [4]:
def scrape_nhl_salaries(year):
    # Construct the URL based on the provided year
    url = f"https://www.hockey-reference.com/friv/current_nhl_salaries.cgi"

    # Send an HTTP GET request to the URL
    response = requests.get(url)

    # Check if the request was successful
    if response.status_code == 200:
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.text, 'html.parser')

        # Find the table with the id "salaries"
        table = soup.find('table', {'id': 'salaries'})

        if table:
            # Extract data from the table
            rows = table.find_all('tr')
            data = []

            for row in rows:
                # Check if it's a header row (th elements) or data row (td elements)
                cells = row.find_all(['th', 'td'])
                row_data = [cell.get_text(strip=True) for cell in cells]
                data.append(row_data)

            # Assuming the first row is the header
            header_cells = rows[0].find_all('th')
            headers = [cell.get_text(strip=True) for cell in header_cells]

            # Create a pandas DataFrame
            df = pd.DataFrame(data, columns=headers)

            # Create a Series with the provided year
            year_series = pd.Series([year] * len(df))

            # Assign the Series to the 'Year' column in the DataFrame
            df['Year'] = year_series

            # Return the DataFrame
            return df

        else:
            print("Table with id 'salaries' not found on the page.")
            return None

    else:
        print("Failed to retrieve the page. Status code:", response.status_code)
        return None

In [6]:
# Example usage:
year_to_scrape = 2024

df_salaries = scrape_nhl_salaries(year_to_scrape)

df_salaries.to_csv('Player2024Salary.csv', encoding='utf-8', index=False)
df_salaries

                   Player   Tm      Salary     Cap Hit  Year
0                  Player   Tm      Salary     Cap Hit  2024
1         Kirill Kaprizov  MIN  12,500,000   9,000,000  2024
2                Adam Fox  NYR  12,000,000   9,500,000  2024
3            Drew Doughty  LAK  11,000,000  11,000,000  2024
4              Cale Makar  COL  11,000,000   9,000,000  2024
..                    ...  ...         ...         ...   ...
699      William Lockwood  FLA     775,000     775,000  2024
700  Oliver Ekman-Larsson  FLA     775,000   2,250,000  2024
701        Uvis Balinskis  FLA     775,000     870,000  2024
702          Cuylle, Will  NYR     775,000     828,333  2024
703             Greer, AJ  CGY     775,000     762,500  2024

[704 rows x 5 columns]

In [7]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def player_data_from_alphabet(alphabet):
    # Construct the URL based on the provided alphabet
    url = f"https://newsday.sportsdirectinc.com/hockey/nhl-players.aspx?page=/data/nhl/players/{alphabet}_players.html"

    # Send an HTTP GET request to the URL
    response = requests.get(url)

    # Check if the request was successful
    if response.status_code == 200:
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.text, 'html.parser')

        # Find all tables on the page
        tables = soup.find_all('table')

        # Check if there are at least three tables on the page
        if len(tables) >= 3:
            # Select the third table (index 2 in Python, as indexing starts from 0)
            table = tables[2]

            # Extract data from the table
            rows = table.find_all('tr')
            data = []

            # Assuming the first row is the header
            header_cells = rows[0].find_all('td')
            headers = [cell.get_text(strip=True) for cell in header_cells]

            for row in rows[1:]:
                data_cells = row.find_all('td')
                row_data = [cell.get_text(strip=True) for cell in data_cells]
                data.append(row_data)

            # Create a pandas DataFrame
            df = pd.DataFrame(data, columns=headers)

            # Return the DataFrame
            return df

        else:
            print("There are not enough tables on the page.")
            return None

    else:
        print("Failed to retrieve the page. Status code:", response.status_code)
        return None

In [18]:
# List of alphabets
alphabets = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
            'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

# Initialize an empty DataFrame to store the concatenated data
concatenated_df = pd.DataFrame()

# Iterate through each alphabet and concatenate the data
for alphabet in alphabets:
    print(f'Getting {alphabet} Player')
    df = player_data_from_alphabet(alphabet)
    if df is not None:
        concatenated_df = pd.concat([concatenated_df, df], ignore_index=True)

# Now, concatenated_df contains data from all alphabets
concatenated_df

Getting A Player
Getting B Player
Getting C Player
Getting D Player
Getting E Player
Getting F Player
Getting G Player
Getting H Player
Getting I Player
Getting J Player
Getting K Player
Getting L Player
Getting M Player
Getting N Player
Getting O Player
Getting P Player
Getting Q Player
Getting R Player
Getting S Player
Getting T Player
Getting U Player
Getting V Player
Getting W Player
Getting X Player
Getting Y Player
Getting Z Player

                 Player Pos Team Num Height   Weight      DOB
0         Acciari, Noel   C  PIT  55  5'10"  209 lbs  12/1/91
1        Addison, Calen   D  MIN   2  5'11"  173 lbs  4/11/00
2        Aho, Sebastian   C  CAR  20   6'0"  176 lbs  7/26/97
3        Aho, Sebastian   D  NYI  25  5'10"  180 lbs  2/17/96
4    Alexandrov, Nikita   C  STL  59   6'1"  177 lbs  9/16/00
..                  ...  ..  ...  ..    ...      ...      ...
778     Zibanejad, Mika   C  NYR  93   6'2"  201 lbs  4/18/93
779      Zohorna, Radim  LW  PIT  63   6'6"  220 lbs  4/29/96
780          Zub, Artem   D  OTT   2   6'2"  200 lbs  10/3/95
781    Zuccarello, Mats  RW  MIN  36   5'8"  181 lbs   9/1/87
782       Zucker, Jason  LW  ARI  16  5'11"  192 lbs  1/16/92

[783 rows x 7 columns]

In [19]:
# Define a custom function to rearrange the names
def rearrange_name(name):
    # Split the name by comma and space
    parts = name.split(', ')

    # Check if there are at least two parts
    if len(parts) >= 2:
        # Rearrange the parts to 'First Last' format
        return f"{parts[1]} {parts[0]}"
    else:
        # If there's only one part, return it as is
        return name

In [20]:
# Apply the custom function to the "player" column
concatenated_df["Player"] = concatenated_df["Player"].apply(rearrange_name)
concatenated_df

                Player Pos Team Num Height   Weight      DOB
0         Noel Acciari   C  PIT  55  5'10"  209 lbs  12/1/91
1        Calen Addison   D  MIN   2  5'11"  173 lbs  4/11/00
2        Sebastian Aho   C  CAR  20   6'0"  176 lbs  7/26/97
3        Sebastian Aho   D  NYI  25  5'10"  180 lbs  2/17/96
4    Nikita Alexandrov   C  STL  59   6'1"  177 lbs  9/16/00
..                 ...  ..  ...  ..    ...      ...      ...
778     Mika Zibanejad   C  NYR  93   6'2"  201 lbs  4/18/93
779      Radim Zohorna  LW  PIT  63   6'6"  220 lbs  4/29/96
780          Artem Zub   D  OTT   2   6'2"  200 lbs  10/3/95
781    Mats Zuccarello  RW  MIN  36   5'8"  181 lbs   9/1/87
782       Jason Zucker  LW  ARI  16  5'11"  192 lbs  1/16/92

[783 rows x 7 columns]

In [21]:
# Define a custom function to convert the height to meters
def height_to_meters(height):
    """
    Convert a height string in the format 'X\'Y"' to meters.
    1 foot = 0.3048 meters, 1 inch = 0.0254 meters.

    Parameters:
        height (str): The height string in 'X\'Y"' format.

    Returns:
        float: The height in meters, or None if the input format is incorrect.
    """
    # Split the height by feet and inches
    parts = height.split("'")
    if len(parts) == 2:
        feet = int(parts[0])
        inches = int(parts[1].replace('"', ''))
        total_meters = (feet * 0.3048) + (inches * 0.0254)
        return total_meters
    else:
        return None

In [22]:
# Apply the custom function to the "Height" column
concatenated_df["Height"] = concatenated_df["Height"].apply(height_to_meters)
concatenated_df

                Player Pos Team Num  Height   Weight      DOB
0         Noel Acciari   C  PIT  55  1.7780  209 lbs  12/1/91
1        Calen Addison   D  MIN   2  1.8034  173 lbs  4/11/00
2        Sebastian Aho   C  CAR  20  1.8288  176 lbs  7/26/97
3        Sebastian Aho   D  NYI  25  1.7780  180 lbs  2/17/96
4    Nikita Alexandrov   C  STL  59  1.8542  177 lbs  9/16/00
..                 ...  ..  ...  ..     ...      ...      ...
778     Mika Zibanejad   C  NYR  93  1.8796  201 lbs  4/18/93
779      Radim Zohorna  LW  PIT  63  1.9812  220 lbs  4/29/96
780          Artem Zub   D  OTT   2  1.8796  200 lbs  10/3/95
781    Mats Zuccarello  RW  MIN  36  1.7272  181 lbs   9/1/87
782       Jason Zucker  LW  ARI  16  1.8034  192 lbs  1/16/92

[783 rows x 7 columns]

In [23]:
# Define a custom function to convert the weight to kilograms
def weight_to_kg(weight):
    """
    Convert a weight string in the format 'X lbs' to kilograms.
    1 pound (lbs) = 0.453592 kilograms.

    Parameters:
        weight (str): The weight string in 'X lbs' format.

    Returns:
        float: The weight in kilograms, or None if the input format is incorrect.
    """
    # Extract the numeric part and convert it to an integer
    numeric_part = ''.join(filter(str.isdigit, weight))
    if numeric_part:
        total_kg = int(numeric_part) * 0.453592
        return total_kg
    else:
        return None

In [24]:
# Apply the custom function to the "Weight" column
concatenated_df["Weight"] = concatenated_df["Weight"].apply(weight_to_kg)
concatenated_df

                Player Pos Team Num  Height     Weight      DOB
0         Noel Acciari   C  PIT  55  1.7780  94.800728  12/1/91
1        Calen Addison   D  MIN   2  1.8034  78.471416  4/11/00
2        Sebastian Aho   C  CAR  20  1.8288  79.832192  7/26/97
3        Sebastian Aho   D  NYI  25  1.7780  81.646560  2/17/96
4    Nikita Alexandrov   C  STL  59  1.8542  80.285784  9/16/00
..                 ...  ..  ...  ..     ...        ...      ...
778     Mika Zibanejad   C  NYR  93  1.8796  91.171992  4/18/93
779      Radim Zohorna  LW  PIT  63  1.9812  99.790240  4/29/96
780          Artem Zub   D  OTT   2  1.8796  90.718400  10/3/95
781    Mats Zuccarello  RW  MIN  36  1.7272  82.100152   9/1/87
782       Jason Zucker  LW  ARI  16  1.8034  87.089664  1/16/92

[783 rows x 7 columns]

In [25]:
concatenated_df.to_csv('PlayerInfo.csv', encoding='utf-8', index=False)

In [26]:
df_2023 = pd.read_csv('IceHockey2023.csv')
df_salaries = pd.read_csv('Player2024Salary.csv')
df_player = pd.read_csv('PlayerInfo.csv')

In [27]:
df_2023

,Player,Team,GP,G,A,Pts,+/-,PN,PIM,S,SB,MS,H,GV,TK,BS,FW,FL,F%,Year
0,Jake Livingstone,NSH,5,0,1,1,-2,1,2,3,4,2,6,3,0,12,0,0,0.00,2023
1,Philip Tomasino,NSH,31,5,13,18,5,3,6,53,21,26,28,15,10,16,9,8,52.94,2023
2,Luke Evangelista,NSH,24,7,8,15,7,3,6,54,17,7,9,9,15,6,0,0,0.00,2023
3,Spencer Stastney,NSH,8,0,2,2,4,1,2,9,3,2,2,3,2,9,0,0,0.00,2023
4,Tommy Novak,NSH,42,13,24,37,4,3,6,71,32,27,6,13,24,21,161,181,47.08,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,Mikael Granlund,NSH,79,10,32,42,-15,10,20,121,51,51,78,33,38,61,171,213,44.53,2023
955,Filip Forsberg,NSH,50,19,23,42,-3,10,20,157,81,84,86,29,34,20,0,1,0.00,2023
956,Colton Sissons,NSH,82,12,18,30,-3,10,20,88,43,48,164,27,32,72,591,516,53.39,2023
957,Yakov Trenin,NSH,77,12,12,24,-7,18,47,140,52,64,167,43,44,30,14,22,38.89,2023
958,Steven Lorentz,S.J,80,10,9,19,-17,7,16,112,40,41,133,15,46,46,262,284,47.99,2023

In [28]:
# The merge table
merged_df = pd.merge(df_2023, df_salaries.drop(columns=['Year']), left_on=["Player", "Team"], right_on=["Player", "Tm"], how="outer", indicator=True)

merged_df

,Player,Team,GP,G,A,Pts,+/-,PN,PIM,S,...,TK,BS,FW,FL,F%,Year,Tm,Salary,Cap Hit,_merge
0,Jake Livingstone,NSH,5.0,0.0,1.0,1.0,-2.0,1.0,2.0,3.0,...,0.0,12.0,0.0,0.0,0.00,2023.0,NaN,NaN,NaN,left_only
1,Philip Tomasino,NSH,31.0,5.0,13.0,18.0,5.0,3.0,6.0,53.0,...,10.0,16.0,9.0,8.0,52.94,2023.0,NSH,"832,500","863,333",both
2,Luke Evangelista,NSH,24.0,7.0,8.0,15.0,7.0,3.0,6.0,54.0,...,15.0,6.0,0.0,0.0,0.00,2023.0,NSH,"775,000","797,500",both
3,Spencer Stastney,NSH,8.0,0.0,2.0,2.0,4.0,1.0,2.0,9.0,...,2.0,9.0,0.0,0.0,0.00,2023.0,NaN,NaN,NaN,left_only
4,Tommy Novak,NSH,42.0,13.0,24.0,37.0,4.0,3.0,6.0,71.0,...,24.0,21.0,161.0,181.0,47.08,2023.0,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1309,William Lockwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,FLA,"775,000","775,000",right_only
1310,Oliver Ekman-Larsson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,FLA,"775,000","2,250,000",right_only
1311,Uvis Balinskis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,FLA,"775,000","870,000",right_only
1312,"Cuylle, Will",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NYR,"775,000","828,333",right_only
1313,"Greer, AJ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,CGY,"775,000","762,500",right_only

In [29]:
merged_df['_merge'].value_counts()

left_only     610
right_only    355
both          349
Name: _merge, dtype: int64

In [30]:
# The inner merge table
inner_merged_df = pd.merge(df_2023, df_salaries.drop(columns=['Year']), left_on=["Player", "Team"], right_on=["Player", "Tm"], how='inner', indicator=True).drop(columns=['Tm'])

inner_merged_df.to_csv('IceHockey2023VsSalary.csv', index=False)
inner_merged_df

,Player,Team,GP,G,A,Pts,+/-,PN,PIM,S,...,GV,TK,BS,FW,FL,F%,Year,Salary,Cap Hit,_merge
0,Philip Tomasino,NSH,31,5,13,18,5,3,6,53,...,15,10,16,9,8,52.94,2023,"832,500","863,333",both
1,Luke Evangelista,NSH,24,7,8,15,7,3,6,54,...,9,15,6,0,0,0.00,2023,"775,000","797,500",both
2,Benoit-Olivier Groulx,ANA,2,0,0,0,0,0,0,2,...,3,2,0,9,11,45.00,2023,"775,000","775,000",both
3,Brock Faber,MIN,2,0,0,0,2,0,0,1,...,1,1,9,0,0,0.00,2023,"832,500","925,000",both
4,Matthew Knies,TOR,3,0,1,1,1,1,2,4,...,1,3,2,0,0,0.00,2023,"832,500","925,000",both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,Kiefer Sherwood,NSH,33,7,6,13,4,12,30,57,...,14,17,15,6,4,60.00,2023,"775,000","775,000",both
345,Ryan McDonagh,NSH,71,2,18,20,12,11,22,78,...,59,47,162,0,0,0.00,2023,"8,400,000","6,750,000",both
346,Filip Forsberg,NSH,50,19,23,42,-3,10,20,157,...,29,34,20,0,1,0.00,2023,"10,000,000","8,500,000",both
347,Colton Sissons,NSH,82,12,18,30,-3,10,20,88,...,27,32,72,591,516,53.39,2023,"3,500,000","2,857,143",both
348,Yakov Trenin,NSH,77,12,12,24,-7,18,47,140,...,43,44,30,14,22,38.89,2023,"1,700,000","1,700,000",both

In [31]:
# Perform a left outer join between df_player and inner_merged_df
left_outer_merged_df = pd.merge(inner_merged_df, df_player, on=["Player", "Team"], how='left')
left_outer_merged_df.to_csv('IceHockey2023VsSalaryVsPlayer.csv', index=False)
left_outer_merged_df

,Player,Team,GP,G,A,Pts,+/-,PN,PIM,S,...,F%,Year,Salary,Cap Hit,_merge,Pos,Num,Height,Weight,DOB
0,Philip Tomasino,NSH,31,5,13,18,5,3,6,53,...,52.94,2023,"832,500","863,333",both,NaN,NaN,NaN,NaN,NaN
1,Luke Evangelista,NSH,24,7,8,15,7,3,6,54,...,0.00,2023,"775,000","797,500",both,NaN,NaN,NaN,NaN,NaN
2,Benoit-Olivier Groulx,ANA,2,0,0,0,0,0,0,2,...,45.00,2023,"775,000","775,000",both,NaN,NaN,NaN,NaN,NaN
3,Brock Faber,MIN,2,0,0,0,2,0,0,1,...,0.00,2023,"832,500","925,000",both,D,7,1.8542,90.718400,8/22/02
4,Matthew Knies,TOR,3,0,1,1,1,1,2,4,...,0.00,2023,"832,500","925,000",both,LW,23,1.9050,98.429464,10/17/02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,Kiefer Sherwood,NSH,33,7,6,13,4,12,30,57,...,60.00,2023,"775,000","775,000",both,NaN,NaN,NaN,NaN,NaN
345,Ryan McDonagh,NSH,71,2,18,20,12,11,22,78,...,0.00,2023,"8,400,000","6,750,000",both,NaN,NaN,NaN,NaN,NaN
346,Filip Forsberg,NSH,50,19,23,42,-3,10,20,157,...,0.00,2023,"10,000,000","8,500,000",both,NaN,NaN,NaN,NaN,NaN
347,Colton Sissons,NSH,82,12,18,30,-3,10,20,88,...,53.39,2023,"3,500,000","2,857,143",both,NaN,NaN,NaN,NaN,NaN
348,Yakov Trenin,NSH,77,12,12,24,-7,18,47,140,...,38.89,2023,"1,700,000","1,700,000",both,NaN,NaN,NaN,NaN,NaN

In [32]:
df_2022 = pd.read_csv('IceHockey2022.csv')
df_salaries = pd.read_csv('Player2024Salary.csv')

In [33]:
# The inner merge table
inner_merged_df = pd.merge(df_2022, df_salaries.drop(columns=['Year']), left_on=["Player", "Team"], right_on=["Player", "Tm"], how='inner', indicator=True).drop(columns=['Tm'])

inner_merged_df.to_csv('IceHockey2022VsSalary.csv')
inner_merged_df

,Player,Team,GP,G,A,Pts,+/-,PN,PIM,S,...,GV,TK,BS,FW,FL,F%,Year,Salary,Cap Hit,_merge
0,Kent Johnson,CBJ,9,0,3,3,2,1,2,5,...,2,2,1,0,0,0.00,2022,"832,500","925,000",both
1,Jordan Harris,MTL,10,1,0,1,3,4,8,9,...,8,3,11,0,0,0.00,2022,"1,400,000","1,400,000",both
2,Lukas Reichel,CHI,11,0,1,1,-8,0,0,15,...,7,6,3,16,30,34.78,2022,"832,500","925,000",both
3,Alex Vlasic,CHI,15,1,1,2,-2,1,2,12,...,5,5,16,0,0,0.00,2022,"832,500","916,667",both
4,Jack McBain,ARI,10,2,1,3,-6,3,6,13,...,5,2,9,35,68,33.98,2022,"1,599,999","1,599,999",both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Nikita Kucherov,TBL,47,25,44,69,0,11,22,156,...,37,24,7,1,0,100.00,2022,"5,000,000","9,500,000",both
263,Zach Bogosian,TBL,48,3,5,8,2,18,53,60,...,16,7,34,0,0,0.00,2022,"1,050,000","850,000",both
264,Bryan Rust,PIT,60,24,33,57,7,7,14,180,...,36,22,24,1,5,16.67,2022,"6,100,000","5,125,000",both
265,Drew O'Connor,PIT,22,3,2,5,-2,2,4,40,...,5,9,7,18,34,34.62,2022,"925,000","925,000",both
266,Jeff Carter,PIT,76,19,26,45,-8,18,38,200,...,39,33,50,648,489,56.99,2022,"3,000,000","3,125,000",both

In [34]:
# Perform a left outer join between df_player and inner_merged_df
left_outer_merged_df = pd.merge(inner_merged_df, df_player, on=["Player", "Team"], how='left')
left_outer_merged_df.to_csv('IceHockey2022VsSalaryVsPlayer.csv', index=False)
left_outer_merged_df

,Player,Team,GP,G,A,Pts,+/-,PN,PIM,S,...,F%,Year,Salary,Cap Hit,_merge,Pos,Num,Height,Weight,DOB
0,Kent Johnson,CBJ,9,0,3,3,2,1,2,5,...,0.00,2022,"832,500","925,000",both,NaN,NaN,NaN,NaN,NaN
1,Jordan Harris,MTL,10,1,0,1,3,4,8,9,...,0.00,2022,"1,400,000","1,400,000",both,NaN,NaN,NaN,NaN,NaN
2,Lukas Reichel,CHI,11,0,1,1,-8,0,0,15,...,34.78,2022,"832,500","925,000",both,LW,27,1.8288,77.110640,5/17/02
3,Alex Vlasic,CHI,15,1,1,2,-2,1,2,12,...,0.00,2022,"832,500","916,667",both,D,72,1.9812,90.264808,6/5/01
4,Jack McBain,ARI,10,2,1,3,-6,3,6,13,...,33.98,2022,"1,599,999","1,599,999",both,C,22,1.9050,91.171992,1/6/00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Nikita Kucherov,TBL,47,25,44,69,0,11,22,156,...,100.00,2022,"5,000,000","9,500,000",both,NaN,NaN,NaN,NaN,NaN
263,Zach Bogosian,TBL,48,3,5,8,2,18,53,60,...,0.00,2022,"1,050,000","850,000",both,NaN,NaN,NaN,NaN,NaN
264,Bryan Rust,PIT,60,24,33,57,7,7,14,180,...,16.67,2022,"6,100,000","5,125,000",both,RW,17,1.8034,87.089664,5/11/92
265,Drew O'Connor,PIT,22,3,2,5,-2,2,4,40,...,34.62,2022,"925,000","925,000",both,LW,10,1.9050,90.718400,6/9/98
266,Jeff Carter,PIT,76,19,26,45,-8,18,38,200,...,56.99,2022,"3,000,000","3,125,000",both,RW,77,1.9050,99.336648,1/1/85